test.ipynb
**.pyc

 Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.DS_Store
*.log

# virtual environment
.myenv
.venv

# TO BE REMOVED:
tools/
mlx_qwen3_vl_a22b_q4_mlx
mlx_qwen3_vl_a22b_q4
_tok_q3vl